body {
    background-color:#000;
}
h1{
    color:#fff;
    font-size:70px;
    font-weight:50;
    line-height:0.5;
    text-align:center;
    font-family: "Nanum Myeongjo", system-ui
}

h3{
    color:#ddd;
    font-size:30px;
    font-weight:100;
    line-height:0;
    text-align: center;
    font-family: "Playfair Display" ,"cursive";
}
img{
    text-align:center;
}


